
/**
#CMHAApp NAMESPACE
3-2-2015
Developer : Rob Thiessen
*/

body {
	background-color:#fff;
}
#CMHAApp {
	position:relative;
	max-width:640px;
	margin: auto;
	overflow-x : hidden;
	-webkit-overflow-scrolling: touch;
	
}

#CMHAApp .loader {
    left: 45%;
    position: absolute;
    top: 30%;
    z-index: 9999999;
	background-color:#fff;
	padding: 10px 10px 5px 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; /* future proofing */
	-khtml-border-radius: 10px; /* for old Konqueror browsers */
}

#CMHAApp #intro-container {
	position:relative;
	min-height:970px;
	max-width:640px;
	background-image:url(../img/bg.jpg);
	background-size:contain;
	margin:auto;
}

#CMHAApp .tile {
	position:relative;
	display:inline-block;
	width: 75px;
	height: 75px;
	 
}

#CMHAApp .branding {
    background-image: url("../img/logo.jpg");
    background-size: contain;
    display: none;
    height: auto;
    left: 7px;
    margin-left: auto;
    margin-right: auto;
	margin-top: 72px;
    max-width: 79%;
    position: absolute;
    right: 0;
    z-index: 99;
	
}

#CMHAApp .intro-info-screen {
    background-color:#01b1af;
    display: none;
    min-height: 500px;
    left: 7px;
    margin-left: auto;
    margin-right: auto;
	margin-top: 72px;
    width: 79%;
    position: absolute;
    right: 0;
    z-index: 100;
}

#CMHAApp .intro-info-screen h1{
    color: #fff;
	font-size:45px;
	line-height: 45px;
	font-family:arial;
	font-weight:bold;
	padding: 0px;
	margin: 0px;
}
#CMHAApp .intro-info-screen .lg-number{
    color: #b3d235;
	font-size:40px;
	line-height:40px;
	font-family:arial;
	font-weight:bold;
	padding: 0px;
	margin: 0px;
}
#CMHAApp .intro-info-screen .md-number{
	font-size:26px;
	line-height:28px;
	color: #b3d235;
	font-family:arial;
	font-weight:bold;
	padding: 0px;
	margin: 0px;
}
#CMHAApp .intro-item {
	position:relative;
	padding: 20px;
	border-bottom-style:solid;
	border-width:2px;
	border-color:#fff;
	margin-bottom:10px;
}
#CMHAApp .intro-item.lt {
	border-width:0px;
}

#CMHAApp .intro-item a:link{
	color: #b3d235;
	text-decoration:none;
}

#CMHAApp .intro-item a:visited{
	color: #b3d235;
	text-decoration:none;
}


.inner-wrapper {
	position:relative;
	padding: 20px;
}


#CMHAApp .branding img {
	position:relative;
	width: 100%;
}

#CMHAApp .section {
	width: 100%;
	background-color:#00b1b1;
	width:100%;
	margin:auto;
	padding-bottom:30px;
}

#CMHAApp .section ul {
	margin:0px;
	padding: 0px;
	width: 100%;
}
#CMHAApp .section ul li {
	border-bottom-style: solid;
	border-bottom-width: 2px;
	color: #fff;
	font-family: arial;
	font-size: 20px;
	font-weight: bold;
	list-style: outside none none;
	margin-left: 5px;
	margin-right: 20px;
	margin-top: 0px;
	padding: 8px 10px;
	width: 89%;
	position: relative;
}
#CMHAApp .data-block {
	background-color: #fff;
	margin-left: -30px;
	padding: 20px 30px 0px 95px;
	width: 100%;
	display: none;
}
#CMHAApp .data-block .item {
    margin-bottom: 0;
    margin-left: -80px;
    margin-top: 0;
    padding: 10px;
	
}

#CMHAApp .section h3{
	color: #6e6e70;
	font-family:arial;
	font-size: 15px;
	line-height:15px;
	font-weight:bold;
	margin:0px;
	padding:0px;
	margin-bottom:10px;
}
#CMHAApp .section h5{
	color: #6e6e70;
	font-family:arial;
	font-size: 13px;
}
#CMHAApp .section p{
	color: #6e6e70;
	font-family:arial;
	font-size: 12px;
	line-height:12px;
	margin:0px;
	padding:0px;
	margin-bottom:10px;
	width: 90%;
}
#CMHAApp .item a:link{
	color: #6e6e70;
	text-decoration:none;
	position:relative;
	display:inline-block;
	width: 48%;
}

#CMHAApp .section a:visited{
	color: #fff;
	font-family:arial;
	font-size:16px;
    text-decoration:none;
}
#CMHAApp .item a:hover{
	color: #fff;
	font-family:arial;
	font-size:16px;
    text-decoration:none;
}

.section li a:link{
	color: #fff;
	font-family:arial;
	font-size:16px;
    text-decoration:none;
	display:inline-table;
	width: 100%;
	
}

.sub-font {
	font-weight:normal;
	font-size:20px;
}

h3,h5{
    margin:0px;
	padding:0px; 	
}
#CMHAApp .phone-number {
	position:relative;
	display:inline-block;
	width: 32%;
}
#CMHAApp .icon-call {
    background: url("../img/phone.png") no-repeat scroll 0 0 / cover transparent;
}
.action-icon {
    height: 28px;
    position: relative;
    width: 28px !important;
	 
}
#CMHAApp .icon-mail {
    background: url("images/email.svg") no-repeat scroll 0 0 / cover transparent;
}

#CMHAApp .tele {
    margin-left: 30px;
    position: relative;
    width: 150px;
}

.item:nth-of-type(even) {
    background: #f1f7df;
}

#CMHAApp .icon-site {
    background: url("../img/monitor.png") no-repeat scroll 0 0 / cover transparent;
	z-index: 9999999;
}


.arrow {
	position: absolute;
	right: 0px;
	width: 15px;
	top: 5px;
}
.arrow img {
	width: 100%;
}

/***********************************************************************************************************
*
* MEDIA QUERIES / BREAK POINTS
*
************************************************************************************************************/


@media screen and (max-width: 450px) {
	
	#CMHAApp #intro-container {
	min-height: 900px;
	}
	
	#CMHAApp .phone-number {
    display: block;
    margin-bottom: 10px;
    position: relative;
    width: 90%;
    }
	
	#CMHAApp .intro-info-screen .lg-number {
    color: #b3d235;
    font-family: arial;
    font-size: 20px;
    font-weight: bold;
    line-height: 25px;
    }
	#CMHAApp .intro-info-screen .md-number {
    color: #b3d235;
    font-family: arial;
    font-size: 20px;
    font-weight: bold;
    line-height: 22px;
    }
	#CMHAApp .intro-info-screen h1 {
    color: #fff;
    font-family: arial;
    font-size: 40px;
    font-weight: bold;
    line-height: 40px;
    margin: 0;
    padding: 0;
    }
	#CMHAApp .intro-item {
	padding: 10px;
	}

	#CMHAApp .intro-info-screen h1 {
		font-size: 30px;
		line-height: 30px;
	}

	#CMHAApp .intro-info-screen {
		width: 85%;
		margin-top: 35px;
	}
	
}


@media screen and (max-width: 320px) { 

	#CMHAApp .intro-info-screen h1 {
		font-size: 30px;
		line-height: 30px;
	}

	#CMHAApp .intro-info-screen {
		width: 85%;
		margin-top: 35px;
	}

}



