<?xml version='1.0' encoding='utf-8'?>
<widget id="com.cmha.app" version="3.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="https://phonegap.com/ns/1.0">
    <name>CMHA</name>
    <description>
        CMHA Toronto
    </description>

    <author email="robthiessen@yahoo.ca" href="https://robthiessen.com">
       Robthiessen.com
    </author>

    <preference name="phonegap-version" value="cli-6.0.0" />
</widget>