<?xml version='1.0' encoding='utf-8'?>
<widget id="com.cmha.app" version="3.3.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="https://phonegap.com/ns/1.0">
    <name>CMHA Peel Dufferin</name>
    <description>
       CMHA Peel Dufferin
    </description>

    <author email="robthiessen@yahoo.ca" href="https://robthiessen.com">
       Robthiessen.com
    </author>
	<icon src="icon/ios/icon.png" width="1024" height="1024" />
	<icon src="icon/ios/icon-120x120.png" width="120" height="120" />
	<icon src="icon/ios/icon-152x152.png" width="152" height="152" />
	<icon src="icon/ios/icon-76x76.png" width="76" height="76" />
    <preference name="phonegap-version" value="cli-6.0.0" />
</widget>