<div class="item-featured" ng-if="item.featured"></div>
<h3>{{item.title}}</h3>
<p ng-if="item.ShortText">{{item.ShortText}}</p>
<div class="phone-number" ng-if="item.phone">
<div class="action-icon icon-call"><a href="tel:{{item.phone}}"><h5 class="tele">{{item.phone}}</h5></a></div>
</div>
<div class="phone-number" ng-if="item.tollFree">
<div class="action-icon icon-call"><a href="tel:{{item.tollFree}}"><h5 class="tele">{{item.tollFree}}</h5></a></div>
</div>
<div class="phone-number" ng-if="item.mobile">
<div class="action-icon icon-call"><a href="tel:{{item.mobile}}"><h5 class="tele">{{item.mobile}}</h5></a></div>
</div>

<div class="phone-number" ng-if="item.email">
<div class="action-icon icon-mail"><a href="mailto:{{item.email}}"><h5 class="tele">{{item.email}}</h5></a></div>
</div>

<div class="phone-number" ng-if="item.website">
<div class="action-icon icon-site"><a href="http://{{item.website}}"><h5 class="tele">{{item.website}}</h5></a></div>
</div>
